---
import Button from "../Navbar/Button";
import { CornerRightDown, Github, Linkedin } from "lucide-astro";
import ThemeToggle from "../ThemeToggle/ThemeToggle";
import Link from "../Navbar/Link";
import NavbarMobile from "../Navbar/NavbarMobile";
---

<div
  class="border-b border-black bg-surface w-full overflow-visible h-[80px] flex items-center font-body"
>
  <div
    class="h-full shrink-0 aspect-square border-r border-border flex items-center justify-center text-6xl "
  >
    R
  </div>
  <div class="size-full p-4" >
    <div class="size-full bg-lines opacity-50" ></div>
  </div>
  <div class="ml-auto hidden sm:flex h-full gap-0 shrink-0 w-fit ">
    
    <div class="h-full border-l border-border flex items-center w-[35vw]" >
      <Link client:load href="/" >ABOUT</Link>
      <div class="w-[1px] h-full shrink-0 bg-black" ></div>
      <Link client:load href="/" >SKILLS</Link>
      <div class="w-[1px] h-full shrink-0 bg-black" ></div>
      <Link client:load href="/" >WORKS</Link>
    </div>
    <div class="h-full flex flex-col border-l border-border">
      <div class="h-1/2 p-2">//Available for freelance work</div>
      <div class="h-[1px] w-full bg-black shrink-0"></div>
      <Button
        client:load
        className="h-1/2 p-2 justify-between flex"
        hoverClassName="justify-between p-2 flex"
      >
        <div>Get in touch</div>
        <CornerRightDown />
      </Button>
    </div>
    <div class="h-full flex flex-col border-l border-border">
        <Button
          client:load
          className={`h-1/2 p-2 justify-between flex`}
          hoverClassName="justify-between p-2 flex"
          ><Github></Github></Button
        >
        <div class="h-[1px] w-full bg-black shrink-0"></div>
        <Button
          client:load
          className={`h-1/2 p-2 justify-between flex text-sm`}
          hoverClassName="justify-between p-2 flex"
          ><Linkedin></Linkedin></Button
        >
      </div>
    <ThemeToggle client:load />
  </div>
  <NavbarMobile client:load></NavbarMobile>
</div>
