<div class="h-full w-full flex flex-col bg-white shrink-0">
  <!-- <div class="h-fit w-full flex py-2 gap-4 border-b border-black" >
        <div class="text-[10vw] leading-[10vw] whitespace-nowrap tracking-tighter" >ABOUT ME </div>
        <div class="size-full bg-lines opacity-70" ></div>
    </div> -->
  <div class="size-full flex">
    <div
      class="w-[10vw] shrink-0 relative overflow-hidden h-full px-2 border-r border-black"
    >
      <div
        class="text-[10vw] leading-[10vw] tracking-tighter rotate-90 whitespace-nowrap flex flex-nowrap"
      >
        <div>ABOUT</div>
      </div>

      <div
        class="h-full border-t border-black absolute top-[30vw] left-0 w-full bg-lines opacity-70"
      >
      </div>
    </div>
    <div
      class="size-full flex flex-col"
    >
      <div class="w-full h-fit flex items-stretch border-b border-black text-2xl tracking-tighter">
        <div class="w-fit p-4 shrink-0">
          Hello this is <b>Ronish Rohan</b>
          <br />
          I'm from <b>Bengaluru, India</b>
          <br />
          I'm a <b>Frontend Developer</b>
        </div>
        <div class="w-full border-l border-black relative">
          <img
            src="/images/leaves.png"
            class="size-full absolute object-cover left-0 top-0"
            alt=""
          />
        </div>
      </div>
      <div class="w-full p-2 text-[8vw] tracking-tighter leading-[10vw]" >
          DESIGN IS MY HOBBY
        </div>
    </div>
  </div>
</div>
