---
import { Asterisk } from "lucide-astro"


---


<section class="size-full h-[calc(100dvh-86px)] flex flex-col" >
    <div class="overflow-hidden flex items-center justify-center w-full h-full relative" >
        <img src="/images/hero.png" class="size-full absolute object-cover" alt="">
         
    </div>
    <div class="bg-white flex shrink-0 flex-col w-full h-fit shrink-0" >
        <div class="w-full h-fit py-[10px] border-y border-border" >
            <div style="background-size: 0.5% %;" class="size-full h-[20px] opacity-70   bg-lines" ></div>
        </div>
        <div class="w-full sm:flex hidden  items-center justify-between font-semibold text-[10vw] leading-[10vw] tracking-[-1.3vw] px-4 translate-x-[-1vw]" >
            <div>FRONTEND</div>
            <div class="size-full flex items-center justify-center *:size-1/6"><Asterisk></Asterisk></div>
            <div>DEVELOPER</div>
        </div>
        <div class="size-full flex flex-col items-start text-[21vw] leading-[18vw] tracking-[-2vw] font-semibold" >
            <div>FRONTEND</div>
            <div>DEVELOPER</div>
        </div>
        <div class="w-full h-fit py-[10px] border-y border-border" >
            <div style="background-size: 0.5% %;" class="size-full h-[20px] opacity-70   bg-lines" ></div>
        </div>
    </div>

</section>